*
{
    font-family: Arial, Helvetica, sans-serif;
}
#logo
{
    width: 70px;
}
/* #slide-container
{
    padding:1%;
} */

.homeSlide img
{
    height: 450px;
}

.slidedis img
{
    height: 250px;
    width: 100%;
}



.animate{
    color: #812d02;
    animation-name: changeColor;
    animation-duration: 4s;
  }
  .animate:hover {
    animation-name: changeColor1;
    animation-duration: 4s;
  }
  @keyframes changeColor {
     0%  {color: yellow;}
    50%  {color: blue;}
    100% {color: brown;}
  }
  
  @keyframes changeColor1 {
     0%  {color: yellow;}
    50%  {color: blue;}
    100% {color: brown;}
  }




/* slider */
.himage
{
    width: 100%;
    height: 75%;
}
.packageText
{
    font-weight: bold;
    font-size:large;
}
.packageText a{
    text-decoration: none;
    color: green;
}

/* slider */


/* image slider horizontal */

.ads_sponsors div img{
	width:200px;
	height:150px;
}
/*  image slider horizontal end*/

.dropdown-item:focus, .dropdown-item:hover
{
    color: #812d02 !important;
}

/* footer */
.new_footer_area {
    background: #fbfbfd;
}

.text-info
{
    color: white !important;
}

.carousel-caption
{
    bottom:40% !important;
}

.new_footer_top1 {
    padding: 50px 0px 270px;
    position: relative;
      overflow-x: hidden;
       background-color:rgb(25,135,84);opacity:1
}
.new_footer_top {
    padding: 50px 50px;
    background-color:rgb(25,135,84);opacity:1
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 5px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #141518;
    padding: 27px 0px;
    background-color: #812d02;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #f1f2f5;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: rgb(147 52 4);
}
.btn_get:hover {
    color: #fff;
    background: rgb(147 52 4);
    border-color: rgb(147 52 4);
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}

.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: rgb(147 52 4);
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: rgb(147 52 4);
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: rgb(147 52 4);
    border-color: rgb(147 52 4);
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #fff;
}

.new_footer_top .f_social_icon a:hover {
    background: rgb(147 52 4);
    border-color: rgb(147 52 4);
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #fff;
}
.f_list li a
{
    text-decoration: none;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #e7e9ed;
}


.footer_bg {
    position: relative;
    bottom: 0;
    background: url("../images/footer-bg.png") , no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}


 .footer_bg .footer_bg_one {
    background: url("../images/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

 .footer_bg .footer_bg_two {
    background: url("../images/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}

 .footer_bg .footer_bg_three {
    background: url("../images/plane4.gif") no-repeat center center;
    width: 80px;
    height: 50px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    top:0;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}




@-moz-keyframes myfirst {
  0% {
    left: -5%;
  }
  100% {
    left: 75%;
  }
}

@-webkit-keyframes myfirst {
    0% {
        left: -5%;
      }
      100% {
        left: 75%;
      }
}

@keyframes myfirst {
    0% {
        left: -5%;
      }
      100% {
        left: 75%;
      }
}

/*************footer End*****************/


/* Form  start */

.form-container{
    width: 25rem;
    height: 27rem;
    box-shadow: 12px 12px 45px 12px #a7a5a5;
    margin: 2% auto;
    border-radius: 3px;
    background-image: linear-gradient(rgba(0,0,0,0.075),rgba(0,0,0,0.075)),url("../images/keralamap.png");
    background-repeat: no-repeat;
    background-size: contain;
}
#login_form{
    padding: 20% 4%!important;
    
    
    height: 100%;
}


.form{
    padding: 5% 4%;
    height: 100%;
}

.form h1{
    padding: 30px;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: black;
}

/* .form input{
    width: 93%;
    background-color: #eee;
    margin: 10px;
    margin-left: 10px;
    padding: 8px;
    border: 2px solid #99d1f2;
    border-radius: 7px;

} */

.form-group
{
    margin-bottom: 1rem!important;
}

.form-control 
 {
    display: block;
    width: 100%;
    padding: 8px;
    line-height:1.2em;
    background-color: #eee;
    border:2px solid #99d1f2;
    /* margin-bottom: 1rem!important; */
}
.form .btn{
    width: 50%;
    background-color:#198754;
    margin-left: 10px;
    margin-left: 25%;
    padding: 7px;
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    cursor: pointer;
    color: white;
}

.form p{
    margin-top: 20px;
    margin-left: 25%;
    color: #812d02;
    font-weight: bold;

}

.signUp a{
    color: rgba(192,8,5);
    cursor: pointer;
    text-decoration: none;
}

.signup-container{
    width: 25rem;
    /* height: 34rem; */
    box-shadow: 12px 12px 45px 12px #a7a5a5;
    margin: 2% auto;
    border-radius: 3px;
    background-image: linear-gradient(rgba(0,0,0,0.075),rgba(0,0,0,0.075)),url("../images/keralamap.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.form .btn:hover{
    background: #812d02;
    color: #fff;
}
/* Form end */

.disColor
{
  color: #812d02;
  margin-bottom: 30px;
}
#dropdownMenuLink
{
    padding: 8px 7px;
}
.input-group-text
{
    background-color: transparent;
}
.errFnt{
    font-size: smaller;
}
#pwd
{
    border-right: none;
}
.input-group-prepend
{
    border: 2px solid #99d1f2;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}
